<%= render template: 'repository/new', locals: { search: @search_param[:search] } %>
<br>

<% if result.success? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Full name</th>
        <th>Description</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <% repositories = result.value! %>
      <% repositories['items'].each do |repository| %>
        <tr>
          <td><%= repository['name'] %></td>
          <td><%= repository['full_name'] %></td>
          <td><%= repository['description'] %></td>
          <td><%= repository['html_url'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  Nothing found. Please, try again.
<% end %>
